@tailwind base;
@tailwind components;
@tailwind utilities;

.displaytransation {
  transition: all 0.6s ease;
}
.transition-all {
  transition: all 0.6s ease; /* Transition all properties over 1 second with an ease timing function */
}
.logo-wrapper .img {
  transition: all 0.6s ease;
}

/* Maintine modal header design */

.mantine-Modal-header {
  background-color: #023047 !important; /* Replace with the actual color value of bg-deepNavy */
  border-bottom: 1px solid #dfe1e6;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

/* .mantine-Select-input {
  @apply focus:outline-none focus:border-none focus:ring-0;
} */

.mantine-Select-label {
  @apply text-sm font-medium text-gray-700 mb-1;
}

.mantine-Select-error {
  @apply font-medium text-red-500  text-xs;
}

.mantine-DateInput-label {
  @apply text-sm font-medium text-gray-700 mb-1;
}

.mantine-DateInput-error {
  @apply font-medium text-red-500  text-xs;
}
